
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Playpen+Sans&family=Protest+Riot&family=Source+Code+Pro&display=swap');
* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a10000; /* Dodaj kolor tła dla nagłówka */
}

.header h2 {
    color: #FFD700; /* Dodaj kolor tekstu dla nagłówka */
}

.header button {
    padding: 10px;
    background-color: #ff0000;
    color: #FFD700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.header button a {
    color: #FFD700;
    text-decoration: none;
}

.header button:hover {
    background-color: #800000;
}
nav {
    padding: 5px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out; /* Add this line */
}
.nav-links li {
    position: relative;
    margin-right: 20px;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #ff0000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.nav-links li:hover .submenu {
    display: block;
}

.submenu a {
    width: 250px;
    color: #FFD700;
    text-decoration: none;
    font-size: 1em;
    display: block;
    margin: 5px 0;
}

.submenu a:hover {
    color: #ffffff;
}
.submenu hr{
    border: 1px solid;
    border-color: #FFD700;
}
.nav-links a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
    color: #ffffff;
}
.burger {
    display: none;
    font-size: 1.5em;
    color: #FFD700;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 130px;
        left: 0;
        background-color: #ff0000;
        text-align: center;
        opacity: 0; /* Initial opacity set to 0 */
        height: 0; /* Initial height set to 0 */
        overflow: hidden; /* Hide overflowing content */
        transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out; /* Apply transition to opacity and height */
        z-index: 1;
    }
    .nav-links.show {
        opacity: 1;
        height: auto; /* Adjust to auto height when the 'show' class is added */
    }
    .burger {
        display: block;
        z-index: 2;
        position: relative;
    }
    /* Adjust the z-index for the logo and other elements */
    header {
        position: relative;
        z-index: 3;
    }
    .nav-links li {
        z-index: 2;
        margin-bottom: 10px; /* Increase spacing between navigation links */
    }
    /* Hide the navigation links when the burger menu is closed */
    .nav-links:not(.show) {
        display: flex;
        height: 0;
        overflow: hidden;
    }
}
.ogloszenia_admin{
    font-size: large;
    background-color: #2f2f2f;
    color: #ff0000;
}
.ogloszenia_admin input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-color: #FFD700;
    border-width: 2px;
    background-color: #f00;
    color: #FFD700;
    cursor: pointer;
    min-width: 400px;
    min-height: 20px;
    font-size: large;
}
.ogloszenia_admin p{
    text-align: center;
}
.ogloszenia_admin .tresc{
    min-width: 1200px;
    min-height: auto;   
}
.ogloszenia_admin .submit{
    min-width: 20px;
}